@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Chivo', sans-serif;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  color: #c2cbe5;
  background-color: #131725;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  padding-top: 100px;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #131725;
}

.main {
  display: flex;
  flex-direction: column;
  width: 40%;
  box-sizing: border-box;
  margin-left: 200px;
  position: relative;
  /* border: 1px solid yellow; */
}

.main__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  height: 600px;
  width: 120%;
  background-color: #101824;
  position: absolute;
  bottom: 110px;
  z-index: 99;
  /* border: 1px solid lightblue; */
}

.main__content p {
  width: 540px;
  font-size: 1rem;
  opacity: 0.5;
  line-height: 1.5;
  font-weight: 100;
}

.main__content h1 {
  width: 540px;
  font-size: 2.5rem;
  font-weight: 300;
  text-transform: uppercase;

  color: #79e3b1;
}

.title {
  color: #fefffe;
}

.input {
  background-color: rgba(138, 143, 192, 0.23);
  width: 500px;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 5px;
  color: white;
}

.input input {
  border: none;
  outline: none;
  background: transparent;
  padding: 20px;
  color: #fff;
  font-size: 1rem;
}

.input button {
  width: 200px;
  border: none;
  outline: none;
  border-radius: 40px;
  font-weight: bold;
  background-color: #54e6af;
  cursor: pointer;
}

.input:focus-within {
  box-shadow: 0 0 5px black;
}

.input button:hover {
  background-color: #90f7cf;
}

.social_media {
  display: flex;
  flex-direction: row;
  align-items: space-around;
  width: 100%;
  color: #5e6688;
}

.social__media img {
  margin: 3rem 0.5rem;
}

.hero__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55%;
  max-height: 100vh;
}

.hero__right img {
  width: 100%;
}

#dots {
  position: absolute;
  right: -5px;
  bottom: 60px;
}

/* sidebar */

.sidebar {
  height: 100vh;
  padding: 30px 10px;
  background: black;
  color: white;
  font-size: larger;
}

.sidebar ul {
  list-style-type: none;
  margin-top: 20px;
  padding: 0px 20px;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li:hover {
  color: grey;
}

/* dashboard */

.dashboard__main {
  height: 100%;
  /* background-color: rgba(138, 143, 192, 0.23); */
  flex: 1;
  color: white;
  padding: 35px;
}
